@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');

html{
    height: 100%;
    width: 100%;
}

.mytitle{
    height: 250px;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(10,10,0,0.2), rgba(10,10,190,0.2)), url('img/Background.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Playpen Sans';
}

.mycard{
    margin: 20px auto 0px auto;
    width: 95%;
    max-width: 1200px;
}

.mytitle>button{
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    margin-top: 10px;
    font-weight: bold;
}

.mytitle>button:hover{
    background-color: navy;
}

.mycomments{
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}